STRIPE_SECRET_KEY=sk_test_xxx
STRIPE_WEBHOOK_SECRET=whsec_xxx
FRONTEND_URL=https://alextu870719.github.io/ISPVP
ALLOWED_ORIGIN=https://alextu870719.github.io
APPS_SCRIPT_WEBHOOK_URL=https://script.google.com/macros/s/YOUR_DEPLOYMENT_ID/exec
APPS_SCRIPT_SHARED_SECRET=replace_with_long_random_secret
STRIPE_PRICE_EARLY_REGULAR=price_xxx
STRIPE_PRICE_EARLY_RESEARCH=price_xxx
STRIPE_PRICE_EARLY_STUDENT=price_xxx
STRIPE_PRICE_GENERAL_REGULAR=price_xxx
STRIPE_PRICE_GENERAL_RESEARCH=price_xxx
STRIPE_PRICE_GENERAL_STUDENT=price_xxx
STRIPE_PRICE_LATE_REGULAR=price_xxx
STRIPE_PRICE_LATE_RESEARCH=price_xxx
STRIPE_PRICE_LATE_STUDENT=price_xxx